
@{
    ViewBag.Title = "Index";
}
<script src="~/App/Controllers/VideoLibrary/VideoLibraryController.js"></script>


<div ng-controller="videoLibraryCtrl">

    <super-list mvccontroller="VideoLibrary" add-Function="CustomAdd" ></super-list>

    
</div>


