
@{
    ViewBag.Title = "Index";
}

<script src="~/App/Controllers/Catagory/CatagoryController.js"></script>

<div ng-controller="CatagoryCtrl" class="shareddiv-top">

    <super-list mvccontroller="Catagory"></super-list>

    
</div>


